

.nb-like, .nb-dislike {
    font-size: 14px;
    margin-right: 5px;
}

.button-like:hover, .button-dislike:hover {
    cursor: pointer;
}

.icon:hover, .exit:hover {
    cursor: pointer;
}

.button-like {
    margin-left: 5px;
    margin-right: 5px;
}

#buttons-like {
    display: inline;
}

#load-more {
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    background-color: #EFEFEF;
    margin-left: auto;
    margin-bottom: 10px;
    width: 150px;
    color: black;
    margin-right: auto;
}
#load-more:hover {
    color: rgb(254, 254, 254);
    cursor: pointer;
}

.button-like, .button-dislike {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.comment {
    font-size: 17px;
    display: block;
    overflow-wrap: break-word;
}

@media screen and (max-width: 400px) {
    #views .img { margin: 0; }
    #views { padding: 0; }
}

#views .img .icon {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition: .3s ease-in-out;
    filter: grayscale(0);
    width: 100%;
    height: auto;
    transition: .3s ease-in-out;
    -webkit-filter: grayscale(0);
}

#views .img .icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6),0 6px 20px 0 rgba(0,0,0,0.39);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}